h3, li, h1, form {
    text-align: left;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.li-css {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p, b {
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}


table, th, td {
    margin: 10px;
    border: 2px solid black;
    border-collapse: collapse;
    border-spacing: 10px;
    padding: 5px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}

th {
    text-align:center;
    background-color: rgba(34, 47, 62,1.0);
    color: rgb(255, 255, 255);
}

#estilo-tabla {
    width: auto;
    background-color: rgba(200, 214, 229,1.0);

}

#estilo-tabla tr:nth-child {
    background-color: rgba(34, 47, 62,1.0);
}

img {
    margin: auto;
    width: 30%;
    display: block;
    padding: 10px;
    border: 50px;
}

header {
    background-color: rgba(131, 149, 167,1.0);
    margin: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cita-textual {
    font-style: italic;
}

.cita-author {
    text-align: right;
}

.cita-fondo {
    background-color: rgba(200, 214, 229,1.0);
}

nav {
    margin: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

button {
    border: black;
}

div {
    text-align: center;
}

footer {
    text-align: center;
}

.poliarticulado {
    max-width: 650px;
    height: auto;
    }

.moviles {
    max-width: 650px;
    height: auto;
    }

.androides {
    max-width: 650px;
    height: auto;
    }

.zoomorficos {
    max-width: 650px;
    height: auto;
    }

.hibridos {
    max-width: 650px;
    height: auto;
    }